# PostgreSQL Configuration
POSTGRES_USER=postech_admin
POSTGRES_PASSWORD=<CHANGE_TO_SECURE_PASSWORD>
POSTGRES_DB=postech_main
POSTGRES_PORT=5432
POSTGRES_HOST=postgres

# PgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=admin@postech.com
PGADMIN_DEFAULT_PASSWORD=<CHANGE_TO_SECURE_PASSWORD>
PGADMIN_CONFIG_SERVER_MODE=False
PGADMIN_PORT=5050

# RabbitMQ Configuration
RABBITMQ_USER=postech_user
RABBITMQ_PASSWORD=<CHANGE_TO_SECURE_PASSWORD>
RABBITMQ_VHOST=/
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_HOST=rabbitmq

# Redis Configuration
REDIS_PORT=6379
REDIS_HOST=redis

# Users API Configuration
USERS_API_CONTEXT=../../postech-users-api
USERS_API_PORT=8080
USERS_API_METRICS_PORT=8181
USERS_DB_NAME=postech_users
ASPNETCORE_ENVIRONMENT=Development

# JWT Configuration
JWT_SECRET_KEY=<CHANGE_TO_SECRET>
JWT_ISSUER=PostechAuthServer
JWT_AUDIENCE=PostechUsersAPI